<?xml version='1.0' encoding='utf-8'?>
<widget id="ro.romania.constitutia" version="0.2.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Constituţia României</name>
    <description>
        aşa cum a fost modificată şi completată prin Legea de revizuire a Constituţiei României nr. 429/2003, republicată de Consiliul Legislativ, cu reactualizarea denumirilor şi dându-se textelor o nouă numerotare
    </description>
    <author email="alexdobras@gmail.com">
        Alexandru Dobra-Somesan
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
</widget>
